* {
	/* resetCSS */
	margin: 0;
	padding: 0;
	/* ulのスタイルを消す */
	list-style: none;
	/* boxの大きさをmarginまで含めて計算する */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow: hidden;
	scroll-behavior: smooth;
}

body {
	overflow: hidden;
	/*background-color: #f0f0f0;*/
	/* 背景画像 */
	background-attachment: fixed;
	background-image:url("../img/background.png");
}

.flex-container {
	display: flex;
	position: relative;
	margin: auto;
}

.canScroll {
	overflow: visible;
}

p {
	text-indent:1em;
	margin: auto;
	width: 95%;
	font-size: 2vw;
}

header {
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 10vh;
	justify-content: center;
	font-family: 'Economica';
}

div#title {
	justify-content: center;
	width: 100%;
	height: 60%;
	background-color: #ffffff;
}

header h1 {
	display: inline-flex;
	align-content: flex-end;
	margin: auto;
	margin-bottom: 8px;
	width: 90%;
	font-family: inherit;
	font-size: 5vh;
}

nav {
	width: 100%;
	height: 40%;
}

nav ul {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

nav li {
	/* li要素を横並びに */
	display: inline-block;
	background-color: #ffffff;
	width: 20%;
}

nav a {
	/* 位置調整のためflexにする */
	display: inline-flex;
	justify-content: center;
	align-items: center;
	/* <li>の大きさと合うように大きさを指定 */
	height: 100%;
	width: 100%;
	/* 横中央揃え */
	text-align: center;
	/* 文字修飾 */
	color: #303030;
	font-size: 3.5vh;
	font-weight: bolder;
	text-decoration: none;
	font-family: inherit;
	font-weight: bold;
	/* 枠線(点線)を描画 */
	border: 1px dotted #ccc;
	/* アニメーション用記述 */
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

nav a:hover {
	color: #ffffff;
	background-color: #303030;
}

.wrapper {
	width: 95%;
	display: flex;
	flex-wrap: nowrap;
	margin: auto;
}

aside {
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-start;
	margin-top: 10px;
	margin-right: auto;
	background-color: #ffffff;
}

aside div {
	display: flex;
	width: 90%;
	justify-content: flex-start;
}

aside h3 {
	margin-top: 15px;
	margin-bottom: 13px;
}

aside ul{
	padding-left: 13px;
}

main {
	flex-grow: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	/*margin-top: 10px; ヘッダのフロート化前*/
	margin-top: 10px;
	/*margin-left: 15px;*/
	background-color: #fbfbfb;
	width: 80%;
	opacity:0.8;
}

main *{
	font-family: "stsukkiri";
	/*font-family: "fgmirai";*/
}

main div {
	width: 90%;
}

main h2 {
	margin: auto;
	margin-bottom: 20px;
	font-family: 'Economica';
	font-size: 4.8vw;
}

#explain div {
	width: 90%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#explain tbody {
	justify-content: center;
}

#explain tr *{
	font-size: 1.7vw;
}

#explain th {
	padding-right: 20px;
	font-weight: bold;
	text-align: left;
}
#explain th:before {
	content: "◆";
	color: #234567;
	font-size: 10px;
}
#explain td {
}

#explain img {
	opacity: 1;
	width: 50%;
	height:50%;
}

section {
	width: 90%;
	margin: auto;
	margin-top:35px;
	margin-bottom:35px;
}

#Character menu{
	width: 90%;
	margin: auto;
}

#Character button {
	font-family: inherit;
	font-family: 'fgmidium';
	background: none;
	width: 33.3%;
	border: none;
	font-size: 3vw;
}

#Character button:before,
#Character button:after {
	content: "";
	opacity: 0;
	transition: opacity 1s;
}

#Character button.selected {
	/*border: solid 2px #a0a0a0;*/
}

#Character button.selected:before ,
#Character button.selected:after {
	content:"";
	opacity: 1;
	display:block;
	height:2px;
	background: linear-gradient(to right, #967d41 0%,#f0f0aa 48%,#967d41 100%);
}

#Character figure {
	margin: auto;
	margin-top: 20px;
	width: 90%;
}

#Character .white-space {
	width: 100%;
	visibility: hidden;
	position: relative;
}

#Character div {
	width: 100%;
	align-items: center;
	visibility: hidden;
	position: absolute;
	opacity: 0;
	z-index: 1;
	transition: opacity 1s,visibility 1s,transform 0.5s , z-index 1s;
	transition-timing-function: ease-out;
}

#Character img {
	width: 50%;
}

#Character figcaption {
	margin-left: 20px;
}

#Character div.selected {
	opacity: 1;
	visibility: visible;
	z-index: 3;
	transition-timing-function: ease-in;
}

footer {
	margin: 0 auto;
	width: 95%;
}

p.copyright {
	text-align: right;
	color: #f0f0f0;
}

.animation {
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: #000000;
	width: 100%;
	height: 100%;
	visibility: visible;
	-webkit-transition: opacity 0.5s, visibility 0.5s, z-index 1.3s;
	transition-timing-function: ease-in;
}

h1.ready{
	font-family: 'Economica', sans-serif;
	/*	font-size: 1px;*/
	color: #f0f0f0;
	opacity: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 200px;
	font-size: 11vw;
	transform: translateY(-220%);
	transition: opacity 2s, transform 2s;
	transition-delay: 0.5s;
	transition-timing-function: ease-out;

}

button.ready {
	padding:5px;
	margin-left: auto;
	margin-right: auto;
	background: none;
	opacity: 0;
	color: #f0f0f0;
	font-size: 3vw;
	border: none;
	font-family: "Economica";
	/*
	transition: opacity 1s;
	transition-delay: 2.3s;
*/
	}

h1.ready.loaded {
	transform: translateY(0);
	opacity: 1;
}

button.ready.loaded {
	-webkit-animation: apper 1.3s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 2.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.animation.started {
	opacity: 0;
	visibility: hidden;
	z-index: 0;
}

@-webkit-keyframes apper {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

button {
	outline: none;
	cursor: pointer;
}

.float {
	position: -webkit-sticky;		/* for Safari */
	position: sticky;		/* for Chrome */
	top: 0;
	left right: auto;
	z-index: 5;
}

#Story,#Character,#Download,#About_us{
	padding-top: 90px;
	margin-top: -100px;
}

