* {
  /* resetCSS */
  margin: 0;
  padding: 0;
  /* ulのスタイルを消す */
  list-style: none;
  /* boxの大きさをmarginまで含めて計算する */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

div#title {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 100px;
  background-color: #ffffff;
}

header h1 {
  display: inline-flex;
  align-content: flex-end;
  margin: auto;
  margin-bottom: 0;
  width: 90%;
  font-size: 50px;
}

nav {
  width: 95%;
  height: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  /* li要素を横並びに */
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  width: 20%;
}

nav a {
  /* 位置調整のためflexにする */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* <li>の大きさと合うように大きさを指定 */
  height: 100%;
  width: 100%;
  /* 横中央揃え */
  text-align: center;
  /* 文字修飾 */
  color: #303030;
  font-size: 17pt;
  font-weight: bolder;
  text-decoration: none;
  /* 枠線(点線)を描画 */
  border: 1px dotted #ccc;
  /* アニメーション用記述 */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #ffffff;
  background-color: #303030;
}

.wrapper {
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

aside {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  margin-top: 10px;
  margin-right: auto;
  background-color: #ffffff;
}

aside div {
  display: flex;
  width: 90%;
  justify-content: flex-start;
}

aside h3 {
  margin-top: 15px;
  margin-bottom: 13px;
}

aside ul{
  padding-left: 13px;
}

main {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-top: 10px;
  /*margin-left: 15px;*/
  background-color: #fbfbfb;
  width: 80%;
}

main div {
  width: 90%;
}

main h2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
}

section {
  width: 90%;
}

footer {
  margin: 0 auto;
  width: 90%;
}

p.copyright {
  text-align: right;
}
